body {
  background-color: #282828;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label { 
  display: block;
}

input, select {
  width: 100%;
}

span {
  display: block;
  color: tomato;
  font-size: x-small;
}